.header-container {
  .top-section {
    background-color: #1b4b6b;
    // background-image: url("../../../../assets/icons/header-bg-image.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 3rem;
    width: 100%;
    padding: 0.4rem 1.8rem 0.4rem 2rem;
    color: #fff;

    .logo {
      height: 39px;
      width: 42px;
      margin-right: 15px;
    }

    h4 {
      font-size: 18px;
      font-weight: normal;
    }

    input[type="text"] {
      padding-left: 8px;
      height: 34px;
      padding-right: 26px;
      width: 13rem;
      border: 1px solid #cfdde6;
      color: #53565a;
      // -webkit-transition: width 0.3s;
    }

    ::placeholder {
      font-size: 14px;
      color: #c1c1c1;
    }

    .search-icon {
      position: absolute;
      right: 55px;
      top: 10px;
      cursor: pointer;
    }

    .large-width {
      // width: 63rem !important;
      transition: 0.3s;
    }

    .user-info {
      font-size: 14px;
      cursor: pointer;

      p {
        line-height: 20px;
        text-align: right;
      }

      .user-icon {
        height: 34px;
        width: 34px;
      }


    }

    .help-section {
      border-left: 1px solid #fff;
      cursor: pointer;
      font-size: 14px;

      .help-icon {
        height: 24px;
        width: 24px;
      }
    }

    .dropdown-item:hover {
      background-color: #118799;
      color: #fff;
    }

    .dropdown-item:focus {
      outline: none;
    }
  }

  .nav-section {
    background: #fff;
    position: relative;
    z-index: 1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-left: 24px;

    .nav-link {
      padding-top: 10px;
      padding-bottom: 2px;
      font-size: 15px;
      color: #53565a;
      padding-left: 0;
      padding-right: 0;
      margin-left: 10px;
      margin-right: 10px;
    }

    .active {
      border-bottom: 4px solid #ed8b00;
      font-weight: bold;
    }
  }
}