.form-inline {
    .user {
        height: 30px;
    }
    .logout {
        height: 30px;
    }
    .vertical-line {
        height: 30px;
        border-left: 1px solid white;
        margin-left: 20px;
        margin-right: 20px;
    }
}