<ng-template #detailsModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Helpmate Information</h4>
        <button (click)="d('Cross click')" aria-label="Close" class="close" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-4 p-0 user basic-details-card">
                    <div class="user-details">
                        <div class="picture-container d-flex flex-column align-items-center">
                            <img class="profile-picture" src="assets/images/users/{{mateDetails.img}}">
                            <div class="name">{{mateDetails.firstName}} {{mateDetails.lastName}}</div>
                            <div class="font-italic distance">({{mateDetails.distance}}&nbsp;Meters away)</div>
                        </div>
                        <div>
                            <div class="label-value">
                                <div class="label">Address:</div>
                                <div class="value">&nbsp;{{mateDetails.location}}</div>
                            </div>
                            <div class="label-value">
                                <div class="label">Phone:</div>
                                <div class="value">&nbsp;{{mateDetails.phone}}</div>
                            </div>
                            <div class="label-value">
                                <div class="label">E-Mail:</div>
                                <div class="value">&nbsp;{{mateDetails.email}}</div>
                            </div>
                        </div>
                        <div class="mate-contact d-flex justify-content-between px-5 py-1 mt-4">
                            <a href="tel:{{mateDetails.phone}}">
                                <div class="icon-div" title="Phone">
                                    <img src="assets/images/phone.svg">
                                </div>
                            </a>
                            <a href="sms:{{mateDetails.phone}}&body=sampleMessege">
                                <div class="icon-div" title="Message">
                                    <img src="assets/images/messages.svg">
                                </div>
                            </a>
                            <a href="https://api.whatsapp.com/send?phone={{mateDetails.phone}}&text=sample">
                                <div class="icon-div" title="Whatsapp">
                                    <img src="assets/images/whatsapp.svg">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-7 ml-2 user-mate-map">
                    <div class="user-mate-map">
                        <div *ngIf="userDetails&&mateDetails" class="map-container">
                            <agm-map [latitude]="center.lat" [longitude]="center.lng" [zoom]="16">
                                <agm-marker [iconUrl]="myMarker" [label]="'You'" [latitude]="userDetails.lat" [longitude]="userDetails.lng">
                                </agm-marker>
                                <agm-marker [iconUrl]="helpMateMarker" [label]="mateDetails.firstName" [latitude]="mateDetails.lat" [longitude]="mateDetails.lng" animation="BOUNCE">
                                </agm-marker>
                                <agm-polyline [strokeColor]="'#07b57a'" [strokeWeight]="3" [visible]="true">
                                    <agm-polyline-point [latitude]="userDetails.lat" [longitude]="userDetails.lng">
                                    </agm-polyline-point>
                                    <agm-polyline-point [latitude]="mateDetails.lat" [longitude]="mateDetails.lng">
                                    </agm-polyline-point>
                                </agm-polyline>
                            </agm-map>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button (click)="c('Save click')" class="btn btn-outline-dark" type="button">Close</button>
    </div>
</ng-template>