<div class="header-container">
  <div class="top-section d-flex justify-content-between">
    <div class="d-flex align-items-center">
      <img src="assets/icons/app-logo.svg" class="logo" alt="logo">
      <h4 class="mb-0">
        {{constants.APPLICATION_NAME}}
      </h4>
    </div>
    <div class="d-flex align-items-center">
      <div class="user-info d-flex align-items-center mr-2" >
        <div class="mr-3">
          <p class="welcome-text mb-0">Welcome</p>
          <p class="user-name mb-0 font-weight-bold">{{constants.USER_NAME}}</p>
        </div>
        <img src="assets/icons/user-icon.svg" class="user-icon" alt="">
      </div>
      <div class="help-section d-flex align-items-center h-100 ml-4 pl-4">
        <img src="assets/icons/help-icon.svg" class="help-icon mr-1" alt="">
        <p class="mb-0 help-text">Help</p>
      </div>
    </div>
  </div>
  <div class="nav-section">
    <div class="nav-container">
      <ul class="nav">
        <ng-container *ngFor="let menu of menuItems; let _i = index">
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)"
               [ngClass]="{'active': isActiveRoute(menu.route)}"
               (click)="navigateToRoute(menu.route,_i)">{{menu.text}}</a>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</div>
